name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Dllib
        run: sudo apt-get install -y \
          build-essential pkg-config \
          libdlib-dev libopenblas-dev liblapack-dev \
          libpam-dev \
          libdbus-1-dev libgtk-3-dev libudev-dev \
          debhelper dpkg-dev devscripts curl bzip2s
      - name: Build
        run: cargo build --verbose --workspace
      - name: Run tests
        run: cargo test --verbose --workspace
